<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Main page</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'account_list' %}">Accounts</a></li>
                <li><a href="{% url 'category_list' %}">Categories</a></li>
                <li><a href="{% url 'create_receipt' %}">Create a receipt</a></li>
                <li><a href="{% url 'create_account' %}">Create an account</a></li>
                <li><a href="{% url 'create_category' %}">Create a category</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
            {% for reciept in receipt_list %}
            <tr>
                <td>{{reciept.vendor}}</td>
                <td>{{reciept.total}}</td>
                <td>{{reciept.tax}}</td>
                <td>{{reciept.date | date:"m/d/y"}}</td>
                <td>{{reciept.category}}</td>
                <td>{{reciept.account}}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>
